{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <div class="col-lg-8 mx-auto p-4 py-md-5">

        {% include 'common/flash.html.twig' %}

        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="fs-4">Products</div>
                    <div>
                        <a href="{{ url('product_change_price', { percentDifference: 10 }) }}" class="btn btn-danger">
                            Price +10%
                        </a>
                        <a href="{{ url('product_change_price', { percentDifference: -10 }) }}" class="btn btn-success">
                            Price -10%
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Price</th>
                        <th scope="col">Discount</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Category</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for product in products %}
                        <tr>
                            <th scope="row">{{ product.id }}</th>
                            <td>{{ product.title }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.discountPercentage }}</td>
                            <td>{{ product.rating }}</td>
                            <td>{{ product.stock }}</td>
                            <td>{{ product.brand }}</td>
                            <td>{{ product.category }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}
