{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <div class="col-lg-8 mx-auto p-4 py-md-5">
        <h1 class="text-body-emphasis mb-5">Products</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Category</th>
                </tr>
            </thead>
            <tbody>

                {% for product in products %}
                    <tr>
                        <th scope="row">{{ product.id }}</th>
                        <td>{{ product.title }}</td>
                        <td>{{ product.price / 100 }}</td>
                        <td>{{ product.discountPercentage / 100 }}</td>
                        <td>{{ product.rating / 100 }}</td>
                        <td>{{ product.stock }}</td>
                        <td>{{ product.brand }}</td>
                        <td>{{ product.category }}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>
{% endblock %}
