{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <div class="col-lg-8 mx-auto p-4 py-md-5">
        <h1 class="text-body-emphasis mb-5">Users</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Age</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>

                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.age }}</td>
                        <td>{{ user.gender.text }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>
{% endblock %}
